$body-background: #fff;
//mobile
$mobile-width: 320px;
//tablet
$tablet-width: 768px;

//desktop
$desktop-width: 900px;
$mobile-width-only: 299px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$header-font: Gotham Pro, Helvetica, Arial, sans-serif;
$text-font: Museo Sans Cyrl, Arial, sans-serif;
